<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
    </head>
    <body ng-app="app">


        <div class="container" ng-controller="ctrMain">
            <div class="col-lg-12">
                <div class="row">
                    <h1 class="page-header">Mi first App</h1>

                    <div class="form-group">
                        <label>Nombre:</label>
                        <input ng-model="usuarios.nombre" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input  ng-model="usuarios.correo" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input  ng-model="usuarios.telefono" type="text" class="form-control"/>
                    </div>

                    <button ng-click="guardarUsuarios();" class="btn btn-primary">
                        Guardar
                    </button>
                    <br>
                    <br>
                    <table class="table table-bordered">
                        <thead>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        </thead>
                        <tr ng-repeat="alumno in listaAlumnos">
                            <td>{{alumno.nombre}}</td>
                            <td>{{alumno.correo}}</td>
                            <td>{{alumno.telefono}}</td>
                        </tr>
                    </table>
                </div>    
            </div>


        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="angularJs/angular.min.js"></script>
        <script src="angularJs/angular-route.min.js"></script>
        <script src="config/app.js"></script>
        <script src="angularControler/ctrMain.js"></script>
    </body>
</html>
